# mriamys.service

[Unit]
Description=Mriamys Discord Bot
After=network.target

[Service]
# Поменяй пользователя и пути при необходимости
User=root
WorkingDirectory=/root/Discord_mriamys
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
